body {
    width: 100%;
    height: 100ev;
    background-color: #1b1b32;
    color: white;
    text-align: center;
  }
  
  h1, p {
    font-family: sans-serif;
  }
  
  div {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.25);
    margin: 0 auto;
    max-width: 400px;
    min-width: 300px;
    border: 2px;
    border-radius: 8px;
  }
  
  form{
    font-family: Tahoma;
  }
  
  fieldset {
    border-top: 1px solid;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  
  fieldset[id="bsc-info"] {
    border-top: none;
  }
  
  legend {
    font-family: sans-serif;
  }
  
  label {
    display: block;
    margin: 0.5rem 0;
  }
  
  input, select {
    background-color: #0a0a23;
    color: white;
    border: 1px solid #0a0a23;
    margin: 10px 0 0 0;
    width: 75%;
  }
  
  
  input[type="radio"], input[type="checkbox"] {
    width: auto;
  }
  
  label[class="radio"] {
    text-align: left;
  }
  
  input[type="submit"] {
    width: 35%;
    font-weight: bold;
    height: 50px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.25);
    transition: 0.4s;
  }
  
  input[type="submit"]:hover {
    background-color: #0a0a23
  }